*{
    font-family: Roboto;
}

.bank-profile{
    width: 20%;
}

.custom-credit-button{
    background: #ffffff;
    border: 1px solid #018cee;
    padding:5px 10px 5px 5px !important;
    color: #018cee;
}


.credits{
    padding-top: 50px;
    width: 50%;
}

.custom-plus{
    background: #018cee;
    color: #ffffff;
    font-size: 15.5px;
    padding-left:20px;
}

.credits a{
    padding: 0 !important;
    padding-top:5px !important;
    padding-bottom: 5px !important;
    margin: 0;
    border: 0;
}

.card-detail-container{
    padding-bottom: 50px;

}

.custom-bank-details{
    padding: 10px; font-size: 14px; margin-top: -20px;
    font-weight: bold;
}
